<div id="fullpage">
  <div class="section" id="section0">
    <div class="phone-image"><%= image_tag("phone_animation.gif", height: "700") %></div>
    <h1>NewSpeak</h1>
    <p>NewSpeak is a phone-based service that allows you to get up-to-the-minute news, no internet connection required.</p>
    <button class='button btn-info'><a href="tel:+12162023363">Try It Now!</a></button>
      <a href="/users/sign_up"><button class='button btn-primary'>Sign Up</button></a>
  </div>
  <div class="section" id="section1">
      <div class="intro">
        <h1>Extra, Extra - Hear All About It</h1>
        <ul>
          <li>Call anytime and hear instant, up-to-the-minute news</li>
          <li>Choose up to seven categories to hear news from</li>
          <li>Receive text messages with links to stories that you want to hear more about</li>
          <li>Sign up and set category preferences</li>
          <li>Schedule daily calls to always stay up-to-date</li>
        </ul>
      </div>
  </div>
  <div class="section" id="section2">
    <div class="intro">
      <h1>Explore Your Favorite Topics</h1>
      <h3>No Internet Connection Needed</h3>
      <ul>
        <li>U.S.</li>
        <li>World</li>
        <li>Sports</li>
        <li>Business</li>
        <li>Technology</li>
        <li>Science</li>
        <li>Health</li>
      </ul>
    </div>
  </div>
  <div class="section" id="section3">
    <div class="intro">
      <h2>Created By</h2>
      <table>
        <tr>
          <div class="bio">
            <td><a href="https://www.linkedin.com/in/ricardofleury"><img class="circular" src="https://media.licdn.com/media/AAEAAQAAAAAAAAMSAAAAJGIyOWI4Nzk2LWY3NDItNDIxMi1hZTAyLWQxMzVlNmVmNDc1NA.jpg"></a></td>
            <td><a href="https://www.linkedin.com/in/ricardofleury"><h3>Ricardo Fleury</h3><h5>Developer</h5></a></td>
          </div>
          <div class="bio">
            <td><a href="http://www.linkedin.com/in/alexandergknoll"><img class="circular" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAALkAAAAJDUzYjA3NGU0LTE2MGItNGZhMy05OWU4LWRkZjE3MzJjZmEwMw.jpg"></a></td>
            <td><a href="http://www.linkedin.com/in/alexandergknoll"><h3>Alex Knoll</h3><h5>Developer</h5></a></td>
          </div>
        </tr>
        <tr>
          <div class="bio">
            <td><a href="http://www.linkedin.com/in/morganmccrory"><img class="circular" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/6/005/07f/118/141447f.jpg"></a></td>
            <td><a href="http://www.linkedin.com/in/morganmccrory"><h3>Morgan McCrory</h3><h5>Developer</h5></a></td>
          </div>
          <div class="bio">
            <td><a href="https://www.linkedin.com/pub/jordan-obey/8a/6a6/a8b"><img class="circular" src="https://media.licdn.com/media/AAEAAQAAAAAAAAONAAAAJGVhNmJmYjBhLTg2NWYtNGEyZS1hNGE3LTE5MTM3Y2M4MDgyYw.jpg"></a></td>
            <td><a href="https://www.linkedin.com/pub/jordan-obey/8a/6a6/a8b"><h3>Jordan Obey</h3><h5>Developer</h5></a></td>
          </div>
        </tr>
      </table>
    </div>
  </div>
  <div class="section" id="section4">
    <div class="intro">
      <center>
      <h2>Special Thanks</h2>
      <p><a href="http://www.corvisa.com"><img src="https://www.corvisa.com/static/img/logo-png-preview.png"></a></p>
      </center>
    </div>
  </div>
</div>
