<div id="fullpage">
  <div class="section" id="section0">
    <div class="phone-image"><%= image_tag("phone_animation.gif", height: "700") %></div>
    <h1>NewSpeak</h1>
    <p>NewSpeak is a phone-based service that allows you to get up-to-the-minute news, no internet connection required.</p>
    <a href="tel:+12162023363"><button class = 'button btn-info'>Try It!</button></a>
  </div>
  <div class="section" id="section1">
      <div class="intro">
        <h1>Create Sliders</h1>
        <p>Not only vertical scrolling but also horizontal scrolling. With fullPage.js you will be able to add horizontal sliders in the most simple way ever.</p>
      </div>
  </div>
  <div class="section" id="section2">
    <div class="intro">
      <h1>Example</h1>
      <p>HTML markup example to define 4 sections.</p>
    </div>
  </div>
  <div class="section" id="section3">
    <div class="intro">
      <h1>Working On Tablets</h1>
      <p>
        Designed to fit to different screen sizes as well as tablet and mobile devices.
        <br /><br /><br /><br /><br /><br />
      </p>
    </div>
  </div>
</div>
