<div id="fullpage">
  <div class="section" id="section0">
    <div class="phone-image"><%= image_tag("phone_animation.gif", height: "700") %></div>
    <h1>NewSpeak</h1>
    <p>NewSpeak is a phone-based service that allows you to get up-to-the-minute news, no internet connection required.</p>
    <button class='button btn-info'><a href="tel:+12162023363">Try It Now!</a></button>
      <a href="/users/sign_up"><button class='button btn-primary'>Sign Up</button></a>
  </div>
  <div class="section" id="section1">
      <div class="intro">
        <h1>Extra, Extra - Hear All About It</h1>
        <ul>
          <li>Call anytime and hear instant, up-to-the-minute news</li>
          <li>Choose up to seven categories to hear news from</li>
          <li>Receive text messages with links to stories that you want to hear more about</li>
          <li>Sign up and set category preferences</li>
          <li>Schedule daily calls to always stay up-to-date</li>
        </ul>
      </div>
  </div>
  <div class="section" id="section2">
    <div class="intro">
      <h1>Explore Your Favorite Topics</h1>
      <h3>No Internet Connection Needed</h3>
      <ul>
        <li>U.S.</li>
        <li>World</li>
        <li>Sports</li>
        <li>Business</li>
        <li>Technology</li>
        <li>Science</li>
        <li>Health</li>
      </ul>
    </div>
  </div>
  <div class="section" id="section3">
    <div class="intro">
      <h1>Working On Tablets</h1>
      <p>
        Designed to fit to different screen sizes as well as tablet and mobile devices.
        <br /><br /><br /><br /><br /><br />
      </p>
    </div>
  </div>
</div>
