.phone-image {
  position: absolute;
  margin-top: -10%;
  margin-left: 18%;
}

#section0{
  background-image: url("section0back.png");
  background-repeat: no-repeat;
}

#section0 h1 {
  position: relative;
  margin-top: -4%;
  margin-left: 46%;
  color: white;
}

#section0 p {
  margin-top: 2%;
  margin-left: 46%;
  color: white;
  font-size: 1.5em;
  width: 40%;
}

#section0 a button {
  margin-left: 46%;
  margin-right: 1em;
  display: block;
  float: left;
}

#section0 button a {
  color: white;
}

#section0 button a:hover {
  color: white;
  text-decoration: none;
}

.navbar.navbar-inverse {
  position: fixed !important;
  z-index: 105 !important;
  width: 100% !important;
}

#section2 {
  background-color: #4582ec;
}

#section3 {
  background-color: #d3d3d3;
}

#section1 h1 {
  text-align: center;
}

#section1 ul li {
  margin-left: 28%;
  font-size: 1.5em;
}

#section2 h1 {
  text-align: center;
  color: white;
}

#section2 h3 {
  text-align: center;
  color: white;
  margin-bottom: 1em;
}

#section2 ul li {
  margin-left: 28%;
  font-size: 1.5em;
  color: white;
}