.phone-image {
  margin-top: 15%;
  margin-left: 20%;
  float: left;
}

#section0{
  background-image: url("section0back.png");
  background-repeat: no-repeat;
}

#section0 h1 {
  color: white;
  float: right;
}

#section0 p {
  margin-left: 7%;
  color: white;
  float: left;
}

.navbar.navbar-inverse {
  position: fixed !important;
  z-index: 105 !important;
  width: 100% !important;
}